@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Amifer-Regular';
    src: url('fonts/Amifer/Amifer-Regular.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-Medium';
    src: url('fonts/Amifer/Amifer-Medium.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-Medium-Italic';
    src: url('fonts/Amifer/Amifer-Medium-Italic.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-Italic';
    src: url('fonts/Amifer/Amifer-Italic.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-ExtraBold';
    src: url('fonts/Amifer/Amifer-ExtraBold.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-ExtraBold-Italic';
    src: url('fonts/Amifer/Amifer-ExtraBold-Italic.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-Bold';
    src: url('fonts/Amifer/Amifer-Bold.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-Bold-Italic';
    src: url('fonts/Amifer/Amifer-Bold-Italic.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-Black';
    src: url('fonts/Amifer/Amifer-Black.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amifer-Black-Italic';
    src: url('fonts/Amifer/Amifer-Black-Italic.otf') format("opentype");
    font-style: normal;
    font-display: swap;
}